@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:ital,wght@1,500;1,600&display=swap');


.nav {
    position: absolute;
    width: 1100px;
    height: 40px;
    left: 130px;
    top: 40px;
}

.nav-icon h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #54BD95;
    width: 160px;
    height: 30px;
    top: 30px;

}

.nav-selector {
    position: absolute;
    width: 800px;
    height: 22px;
    left: 250px;
    top: 49px;

}

.nav-selector a {
    text-decoration: none;
    color: #A6A6A6;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0 20px 0 20px;
    position: relative;
}

#home {
    color: #000;

}

#about {
    padding-right: 70px;
}

#sign-up {
    box-sizing: border-box;
    border: solid;
    border-color: white;
    background-color: #54BD95;
    color: white;
    width: 80px;
    border-radius: 10px;
    padding: 10px;
}

.try-free-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    position: absolute;
    width: 130px;
    height: 40px;
    top: 550px;
    background: #54BD95;
    border-radius: 40px;
}


#try {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#stroke-one {
    left: 270px;
    position: absolute;
    top: 570px;

}

#stroke-two {
    left: 280px;
    position: absolute;
    top: 580px;

}

#stroke-text {
    left: 310px;
    position: absolute;
    top: 525px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;


}


.first-left-div {
    position: absolute;
    width: 555px;
    height: 578px;
    left: 130px;
    top: 139px;
}

.first-left-div p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 90px;
    padding-left: 10px;
}

.vector {
    position: absolute;
    width: 400px;
    height: 26px;
    top: 370px;


}

.text-one {
    position: absolute;
    width: 461px;
    height: 90px;

}

.text-one p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

#background {
    position: absolute;
    width: 410px;
    height: 526px;
    left: 800px;
    top: 210px;
}

.white-box-one {
    box-sizing: border-box;
    border: solid;
    background-color: #FFF;
    position: absolute;
    width: 200px;
    height: 80px;
    left: 670px;
    top: 240px;
    border-radius: 10px;
    border-color: #54BD95;
}

#enter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding-top: 2px;
    padding-left: 15px;
    color: #A9A7B6;
}

#dolar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 5px;
    padding-left: 15px;
    margin: auto;

}


.rectagle img {
    position: relative;
    width: 180px;
    height: 1px;
    background-color: #eee;
    margin-left: 3px;
}

.send-button {
    position: absolute;
    box-sizing: border-box;
    border: solid;
    border-color: #54BD95;
    width: 55px;
    height: 25px;
    top: 12px;
    right: 13px;
    background: #52BD94;
    border-radius: 40px;
    text-align: center;
}

.send-button a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFF;
    margin-top: 0px;
    text-decoration: none;
    width: 32px;
    height: 18px;
}

#yellow-background {
    position: absolute;
    width: 48.57px;
    height: 48.57px;
    border-radius: 10px;
    transform: rotate(16deg);
    left: 1180px;
    top: 245px;
}

#yellow-vector-one {
    position: absolute;
    width: 16px;
    height: 15px;
    border-radius: 10px;
    transform: rotate(15deg);
    left: 1180px;
    top: 245px;
    padding-left: 20px;
    padding-top: 15px;

}

#yellow-vector-two {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    transform: rotate(15deg);
    left: 1180px;
    top: 245px;
    padding-left: 20px;
    padding-top: 15px;


}

#yellow-vector-three {
    position: absolute;
    width: 14px;
    height: 15px;
    border-radius: 10px;
    transform: rotate(15deg);
    left: 1180px;
    top: 245px;
    padding-left: 22px;
    padding-top: 10px;


}

.credit-card img {
    position: absolute;
    width: 130px;
    height: 170px;
    left: 1110px;
    top: 530px;
    background: #161C28;
    border-radius: 10px;
    transform: rotate(15deg);
}

.white-box-two {
    box-sizing: border-box;
    border: solid;
    background-color: #FFF;
    position: absolute;
    width: 138px;
    height: 70px;
    left: 750px;
    top: 631px;
    border-radius: 10px;
    border-color: #54BD95;
}

#total {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding-top: 2px;
    padding-left: 5px;
    color: #A9A7B6;
}

#dolar-two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 5px;
    padding-left: 15px;
    margin: auto;

}

.stick {
    position: absolute;
    right: 16px;
    bottom: 14px;
}

#purple {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 740px;
    top: 393.35px;
    background: #4535AF;
    border-radius: 10px;
    transform: rotate(-15deg);
}

#tik {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 740px;
    top: 393.35px;
    background: #4535AF;
    border-radius: 10px;
    transform: rotate(-15deg);
    padding-left: 13px;
    padding-top: 13px;

}

#pink {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1090px;
    top: 720px;
    border-radius: 10px;
    transform: rotate(15deg);
}

#pink-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1090px;
    top: 720px;
    border-radius: 10px;
    transform: rotate(15deg);
    margin-left: 10px;
    margin-top: 10px;

}

.center-text {
    position: absolute;
    width: 720px;
    height: 48px;
    left: 320px;
    top: 850px;
    margin-top: 20px;


}

#center-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #191A15;
}

.footer-text {
    position: absolute;
    top: 1050px;
    left: 100px;
}

.footer-text a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    color: #A6A6A6;
    padding: 0px 30px 0px 30px;

}

.how-we-text {
    position: absolute;
    width: 617px;
    height: 122px;
    left: 100px;
    top: 1254px;
}

#how-we {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;

    color: #191A15;
}

.Saas-become {
    position: absolute;
    width: 644px;
    height: 90px;
    left: 100px;
    top: 1406px;
    margin-top: 30px;
}

#Saas-become {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #A6A6A6;
}

.stars {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 60px;
    top: 1569px;

}

.stars ul {
    list-style: none;
    display: flex;
}

.stars ul li {
    padding: 0px 10px 0px 10px;

}

.point {
    position: absolute;
    left: 100px;
    height: 22px;
    left: 140px;
    top: 1613px;

}

#point {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

}

#star-space {
    padding-right: 50px;
}

.point-two {
    position: absolute;
    width: 112px;
    height: 22px;
    left: 420px;
    top: 1613px;
}

#point-two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

}

.databricks {
    position: absolute;
    width: 95px;
    height: 22px;
    left: 140px;
    top: 1653px;

}

#databricks {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;
}

.Chainalysis {
    position: absolute;
    width: 103px;
    height: 22px;
    left: 430px;
    top: 1653px;
}

#Chainalysis {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;
}

.Publishing {
    position: absolute;
    width: 145px;
    height: 34px;
    left: 830px;
    top: 1257px;
}

#Publishing {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #191A15;
}

.Publishing-text {
    position: absolute;
    width: 428px;
    height: 90px;
    left: 830px;
    top: 1301px;
}

#Publishing-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}

.Publishing-img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 755px;
    top: 1270px;
}

#vector-publish {
    position: absolute;
    left: 35%;
    right: 8.33%;
    top: 40%;
    bottom: 12.5%;
}

.Analytics {
    position: absolute;
    width: 130px;
    height: 34px;
    left: 830px;
    top: 1424px;
}

#Analytics {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #191A15;
}

.Analytics-text {
    position: absolute;
    width: 428px;
    height: 60px;
    left: 830px;
    top: 1468px;


}

#Analytics-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;

}

.Analytics-img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 755px;
    top: 1450px;
}

#vector-Analytics {

    position: absolute;
    left: 60%;
    right: 8.33%;
    top: 30%;
    bottom: 50%;
}

#vector-Analytics-two {
    position: absolute;
    left: 40%;
    right: 11.63%;
    top: 30%;
    bottom: 8.35%;
}

.Engagement {
    position: absolute;
    width: 174px;
    height: 34px;
    left: 830px;
    top: 1561px;
}

#Engagement {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #191A15;
}

.Engagement-text {
    position: absolute;
    width: 428px;
    height: 60px;
    left: 830px;
    top: 1605px;


}

#Engagement-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}

.Engagement-img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 755px;
    top: 1580px;
}

#vector-Engagement {
    position: absolute;
    left: 40%;
    right: 12.5%;
    top: 40%;
    bottom: 12.5%;

}

.pages-two-first-text {

    position: absolute;
    width: 331px;
    height: 122px;
    left: 130px;
    top: 1865px;
}

#pages-two-first-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;

    color: #191A15;
}

.pages-two-first-p {
    position: absolute;
    width: 461px;
    height: 90px;
    left: 540px;
    top: 1879px;
}

#pages-two-first-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}

.get-started {
    box-sizing: border-box;
    border: solid;
    border-color: white;
    background-color: #54BD95;
    color: white;
    width: 162px;
    border-radius: 70px;
    padding: 10px;
    left: 1060px;
    top: 1894px;
    position: absolute;
    text-align: center;
}

.get-started a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

.photo-one {
    position: absolute;
    width: 364px;
    height: 430px;
    left: 130px;
    top: 2120px;

}

.colobration {
    position: absolute;
    width: 282px;
    height: 30px;
    left: 130px;
    top: 2521px;
}

#colobration {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #191A15;

}

.colobration-ph {
    position: absolute;
    width: 340px;
    height: 60px;
    left: 130px;
    top: 2600px;
}

#colobration-ph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}

.photo-two {
    position: absolute;
    width: 364px;
    height: 430px;
    left: 500px;
    top: 2120px;
}

.Cloud-Storage {
    position: absolute;
    width: 208px;
    height: 30px;
    left: 500px;
    top: 2521px;
}

#Cloud-Storage {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #191A15;
}

.Cloud-Storage-ph {
    position: absolute;
    width: 340px;
    height: 60px;
    left: 500px;
    top: 2600px;
}

#Cloud-Storage-ph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}

.photo-three {
    position: absolute;
    width: 364px;
    height: 430px;
    left: 880px;
    top: 2120px;
}

.Daily-Analytics {
    position: absolute;
    width: 215px;
    height: 30px;
    left: 890px;
    top: 2521px;
}

#Daily-Analytics {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #191A15;

}

.Daily-Analytics-ph {
    position: absolute;
    width: 340px;
    height: 60px;
    left: 890px;
    top: 2600px;
}

#Daily-Analytics-ph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}

.what-benifit {
    position: absolute;
    width: 429px;
    height: 122px;
    left: 130px;
    top: 2761px;
}

#what-benifit {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;

    color: #191A15;

}

#green-one {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 130px;
    top: 2995px;
}

#green-two {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 130px;
    top: 3060px;


}

#green-three {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 130px;
    top: 3125px;
}

#green-four {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 130px;
    top: 3190px;
}

#green-five {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 130px;
    top: 3255px;
}

.what-benifit-p-one {
    position: absolute;
    width: 419px;
    height: 30px;
    left: 182px;
    top: 2980px;
}

#what-benifit-p-one {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;

}

.what-benifit-p-two {
    position: absolute;
    width: 144px;
    height: 30px;
    left: 182px;
    top: 3045px;
}

#what-benifit-p-two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;

}

.what-benifit-p-three {
    position: absolute;
    width: 304px;
    height: 30px;
    left: 182px;
    top: 3110px;
}

#what-benifit-p-three {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.what-benifit-p-four {
    position: absolute;
    width: 283px;
    height: 30px;
    left: 182px;
    top: 3175px;
}

#what-benifit-p-four {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.what-benifit-p-five {
    position: absolute;
    width: 185px;
    height: 30px;
    left: 182px;
    top: 3240px;
}

#what-benifit-p-five {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.computer-pic {
    position: absolute;
    width: 450px;
    height: 529px;
    left: 740px;
    top: 2820px;
}

.computer-white-one {
    box-sizing: border-box;
    border: solid white;
    position: absolute;
    width: 280px;
    height: 75px;
    left: 690px;
    top: 2850px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);

}

#computer-pic-in {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 710px;
    top: 2860px;
    background: url(pexels-stefan-stefancik-91227.jpg);
}

.amanda {
    position: absolute;
    width: 116px;
    height: 19px;
    left: 780px;
    top: 2850px;
}

#amanda {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #191A15;
}

.expert {
    position: absolute;
    width: 122px;
    height: 15px;
    left: 780px;
    top: 2880px;
}

#expert {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #A6A6A6;
}

#computer-elips {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 915px;
    top: 2875px;

}

#elips-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 920px;
    top: 2879px;

}

.computer-white-two {
    position: absolute;
    width: 138px;
    height: 70px;
    left: 1110px;
    top: 2980px;

    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.computer-white-two-p {
    position: absolute;
    width: 73px;
    height: 15px;
    left: 1130px;
    top: 2980px;
}

#computer-white-two-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A9A7B6;
}

.computer-white-two-money {
    position: absolute;
    width: 65px;
    height: 19px;
    left: 1128px;
    top: 2999px;
}

#computer-white-two-money {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #191A15;
}

.seviye {
    position: absolute;
    width: 65px;
    height: 19px;
    left: 1195px;
    top: 2999px;
}

.computer-oval {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 680px;
    top: 3046.35px;
    border-radius: 10px;
    transform: rotate(-15deg);
}

.down-white {
    position: absolute;
    box-sizing: border-box;
    border: solid white;
    width: 302px;
    height: 68px;
    left: 630px;
    top: 3300px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

#tikk {
    position: absolute;
    left: 2%;
    right: 8.33%;
    top: 1%;
    bottom: 12.5%;
    border: solid white;
}

.tikk-p {
    position: absolute;
    width: 302px;
    height: 68px;
    left: 700px;
    top: 3310px;

}

#tikk-p {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #191A15;
}

.choose {
    position: absolute;
    width: 492px;
    height: 146px;
    left: 420px;
    top: 3434px;

}

#choose {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 73px;
    text-align: center;
    color: #191A15;
}

.choose-plan {
    position: absolute;
    width: 519px;
    height: 22px;
    left: 400px;
    top: 3650px;
}

#choose-plan {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #A6A6A6;

}

.bil-white {
    position: absolute;
    width: 340px;
    height: 70px;
    left: 500px;
    top: 3740px;
    box-sizing: border-box;
    border: solid white;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.bil-green-white {
    position: absolute;
    width: 160px;
    height: 56px;
    left: 670px;
    top: 3750px;
    background: #54BD95;
    border-radius: 10px;
    box-sizing: border-box;
    border: solid white;

}

.bil-white-p {
    position: absolute;
    width: 97px;
    height: 30px;
    left: 549px;
    top: 3742px;
}

#bil-white-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.bil-green-p {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 714px;
    top: 3742px;
}

#bil-green-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.free-one {
    position: absolute;
    width: 374px;
    height: 644px;
    left: 60px;
    top: 3899px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.free-p {
    position: absolute;
    width: 65px;
    height: 36px;
    left: 216px;
    top: 3900px;

}

#free-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #191A15;
}

.free-p-two {
    position: absolute;
    width: 210px;
    height: 54px;
    left: 150px;
    top: 3969px;
}

#free-p-two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #A6A6A6;

}

.free-bg {
    position: absolute;
    width: 334px;
    height: 380px;
    left: 80px;
    top: 4150px;
    background: #F9FAFB;
    border-radius: 10px;
}

.zero {
    position: absolute;
    width: 34px;
    height: 30px;
    left: 230px;
    top: 4040px;
}

#zero {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
    color: #191A15;

}

.dolar-one {
    position: absolute;
    width: 12px;
    height: 30px;
    left: 220px;
    top: 4040px;
}

#dolar-one {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;

}

.two-users {
    position: absolute;
    width: 71px;
    height: 30px;
    left: 170px;
    top: 4158px;
}

#two-users {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.two-files {
    position: absolute;
    width: 61px;
    height: 30px;
    left: 170px;
    top: 4210px;
}

#two-files {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.publish-shares {
    position: absolute;
    width: 224px;
    height: 30px;
    left: 170px;
    top: 4262px;
}

#publish-shares {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.chat-support {
    position: absolute;
    width: 117px;
    height: 30px;
    left: 170px;
    top: 4314px;
}

#chat-support {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.new-income {
    position: absolute;
    width: 157px;
    height: 30px;
    left: 170px;
    top: 4366px;
}

#new-income {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

#two-users-one {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 120px;
    top: 4170px;
}

#two-files-one {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 120px;
    top: 4225px;
}

#publish-shares-one {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 120px;
    top: 4280px;
}

#chat-support-one {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 120px;
    top: 4335px;
}

#new-income-one {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 120px;
    top: 4390px;
}

.free-white-blok {
    position: absolute;
    width: 260px;
    height: 64px;
    left: 120px;
    top: 4450px;
    box-sizing: border-box;
    border: solid white;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.free-white-blok-p {
    position: absolute;
    width: 130px;
    height: 30px;
    left: 180px;
    top: 4450px;
}

#free-white-blok-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #54BD95;


}

.pro-one {
    position: absolute;
    width: 374px;
    height: 684px;
    left: 470px;
    top: 3889px;
    background: #54BD95;
    border-radius: 20px;
}

.pro-p {
    position: absolute;
    width: 49px;
    height: 36px;
    left: 163px;
    top: 10px;
}

#pro-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.pro-p-two {
    position: absolute;
    width: 210px;
    height: 54px;
    left: 82px;
    top: 70px;
}

#pro-p-two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.eight {
    position: absolute;
    width: 33px;
    height: 30px;
    left: 170px;
    top: 130px;
}

#eight {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
    color: #FFFFFF;
}

.dolar-two {
    position: absolute;
    width: 12px;
    height: 30px;
    left: 140px;
    top: 153px;
}

#dolar-two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.green-div {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 122px;
    top: 225px;
    background: #85DAB9;
    border-radius: 10px;
    box-sizing: border-box;
    border: solid #85DAB9;
}

.green-div-p {
    position: absolute;
    width: 109px;
    height: 30px;
    left: 133px;
    top: 215px;
}

#green-div-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;

}

.white-div {
    position: absolute;
    width: 334px;
    height: 380px;
    left: 20px;
    top: 280px;
    box-sizing: border-box;
    border: solid #FFF;
    background: #FFFFFF;
    border-radius: 10px;
}

.four-users {
    position: absolute;
    width: 71px;
    height: 30px;
    left: 110px;
    top: 290px;
}

#four-users {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.all-apps {
    position: absolute;
    width: 71px;
    height: 30px;
    left: 110px;
    top: 340px;

}

#all-apps {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.unlimited {
    position: absolute;
    width: 230px;
    height: 30px;
    left: 110px;
    top: 390px;
}

#unlimited {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.folder {
    position: absolute;
    width: 227px;
    height: 30px;
    left: 110px;
    top: 440px;

}

#folder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.all-incoming {
    position: absolute;
    width: 157px;
    height: 30px;
    left: 110px;
    top: 490px;
}

#all-incoming {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

#four-users-ph {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 57px;
    top: 308px;

}

#all-apps-ph {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 57px;
    top: 360px;
}

#unlimited-ph {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 57px;
    top: 412px;
}

#folder-ph {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 57px;
    top: 464px;
}

#all-incoming-ph {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 57px;
    top: 516px;

}

.gotopro {
    position: absolute;
    width: 260px;
    height: 64px;
    left: 57px;
    top: 571px;
    box-sizing: border-box;
    border: solid #54BD95;
    background: #54BD95;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.gotopro-p {
    position: absolute;
    width: 81px;
    height: 30px;
    left: 147px;
    top: 570px;

}

#gotopro-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}


.business-one {
    position: absolute;
    width: 374px;
    height: 644px;
    left: 870px;
    top: 3899px;

    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.business-p {
    position: absolute;
    width: 132px;
    height: 36px;
    left: 130px;
    top: 3px;
}

#business-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #191A15;
}

.business-p-two {
    position: absolute;
    width: 251px;
    height: 54px;
    left: 70px;
    top: 60px;
}

#business-p-two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #A6A6A6;
}

.sixteen {
    position: absolute;
    width: 210px;
    height: 54px;
    left: 170px;
    top: 120px;
}

#sixteen {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
    color: #191A15;

}

.dolar-three {
    position: absolute;
    width: 12px;
    height: 30px;
    left: 150px;
    top: 130px;
}

#dolar-three {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;

}

.bg-three {
    position: absolute;
    width: 334px;
    height: 380px;
    left: 20px;
    top: 250px;
    box-sizing: border-box;
    border: solid white;
    background: #F9FAFB;
    border-radius: 10px;
}

.allthe {
    position: absolute;
    width: 230px;
    height: 30px;
    left: 100px;
    top: 270px;
}

#allthe {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;

}

.account {
    position: absolute;
    width: 230px;
    height: 30px;
    left: 100px;
    top: 320px;
}

#account {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;

}

.single {
    position: absolute;
    width: 230px;
    height: 30px;
    left: 100px;
    top: 370px;
}

#single {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.co-conception {
    position: absolute;
    width: 230px;
    height: 30px;
    left: 100px;
    top: 420px;
}

#co-conception {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.collabration {
    position: absolute;
    width: 230px;
    height: 30px;
    left: 100px;
    top: 470px;
}

#collabration {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;

}

#allthe-ph {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 60px;
    top: 290px;
}

#account-ph {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 60px;
    top: 340px;
}

#single-ph {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 60px;
    top: 390px;
}

#co-conception-ph {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 60px;
    top: 440px;
}

#collabration-ph {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 60px;
    top: 490px;
}

.gotobusiness {
    position: absolute;
    width: 260px;
    height: 64px;
    left: 60px;
    top: 540px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    box-sizing: border-box;
    border: solid white;
}

.gotobusiness-p {
    position: absolute;
    width: 130px;
    height: 30px;
    left: 120px;
    top: 540px;
}

#gotobusiness-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #54BD95;
}

.pages-five {
    max-width: 1100px;
}

.footer-pages {
    width: 100%;
    height: 1220px;
    background-color: #161C28;
    position: absolute;
    left: 0px;
    top: 4633px;
}

.people-are {
    position: absolute;
    width: 444px;
    height: 122px;
    left: 130px;
    top: 4763px;
}

#people-are {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
}

.everything {
    position: absolute;
    width: 461px;
    height: 60px;
    left: 130px;
    top: 4955px;
}

#everything {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}

#tirnak-one {
    position: absolute;
    width: 15px;
    height: 50px;
    left: 135px;
    top: 5050px;
    background: #D9D9D9;
    transform: rotate(15deg);
}

#tirnak-two {
    position: absolute;
    width: 15px;
    height: 50px;
    left: 158.5px;
    top: 5050px;
    background: #D9D9D9;
    transform: rotate(15deg);
}

.very-helped {
    position: absolute;
    width: 461px;
    height: 90px;
    left: 135px;
    top: 5120px;

}

#very-helped {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;

}

.aria {
    position: absolute;
    width: 128px;
    height: 30px;
    left: 135px;
    top: 5255px;
}

#aria {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}

#footer-ph-one {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 135px;
    top: 5350px;
}

#footer-ph-two {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 221px;
    top: 5350px;
}

#footer-ph-three {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 307px;
    top: 5350px;
}

#footer-ph-four {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 393px;
    top: 5350px;
}

#footer-ph-five {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 479px;
    top: 5350px;
}

#play-ph {
    position: absolute;
    width: 24px;
    height: 18px;
    left: 502px;
    top: 5373px;
}

.biccas-p {
    position: absolute;
    width: 160px;
    height: 30px;
    left: 130px;
    top: 5500px;
}

#biccas-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
    color: #54BD95;
}

.biccas-prg {
    position: absolute;
    width: 286px;
    height: 30px;
    left: 130px;
    top: 5581px;

}

#biccas-prg {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;

}

.enter-your {
    box-sizing: border-box;
    position: absolute;
    width: 410px;
    height: 60px;
    left: 130px;
    top: 5661px;
    border: 2px solid #A6A6A6;
    border-radius: 70px;
}

.enter-your-ph {
    position: absolute;
    width: 184px;
    height: 30px;
    left: 150px;
    top: 5656px;

}

#enter-your-ph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}

#enter-go {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 487px;
    top: 5670px;
}

#enter-go-one {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 502px;
    top: 5680px;
}

#enter-go-two {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 509px;
    top: 5680px;

}

.biccas-c {
    position: absolute;
    width: 425px;
    height: 30px;
    left: 130px;
    top: 5780px;
}

#biccas-c {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer-shadow {
    position: absolute;
    width: 540px;
    height: 588px;
    left: 690px;
    top: 4830px;

    background: #222938;
    border-radius: 20px;
}

#money-icon {
    position: absolute;
    left: 43.95%;
    right: 44.27%;
    left: 920px;
    top: 4850px;

}

.money-icon-p {
    position: absolute;
    width: 168px;
    height: 36px;
    left: 875px;
    top: 4912px;
}

#money-icon-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.e-mail {
    position: absolute;
    width: 51px;
    height: 22px;
    left: 757px;
    top: 4991px;
}

#e-mail {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.enter-your-email {
    position: absolute;
    width: 440px;
    height: 50px;
    left: 751px;
    top: 5050px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px;
}

.enter-your-email-p {
    position: absolute;
    width: 112px;
    height: 16px;
    left: 772px;
    top: 5053px;
}

#enter-your-email-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A6A6A6;
}

.message {
    position: absolute;
    width: 78px;
    height: 22px;
    left: 757px;
    top: 5105px;
}

#message {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.you-say {
    position: absolute;
    width: 440px;
    height: 80px;
    left: 752px;
    top: 5169px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px;
}

.you-say-p {
    position: absolute;
    width: 130px;
    height: 17px;
    left: 772px;
    top: 5176px;
}

#you-say-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A6A6A6;
}

.request-demo {
    position: absolute;
    width: 440px;
    height: 60px;
    left: 752px;
    top: 5275px;
    box-sizing: border-box;
    background: #54BD95;
    border-radius: 10px;
}

#request-demo-p {
    position: absolute;
    width: 113px;
    height: 19px;
    left: 920px;
    top: 5280px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.start-free {
    position: absolute;
    width: 117px;
    height: 16px;
    left: 1068px;
    top: 5333px;
}

#start-free {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A6A6A6;
}

#support-one {
    position: absolute;
    width: 70px;
    height: 22px;
    left: 630px;
    top: 5521px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

#support-two {

    position: absolute;
    width: 100px;
    height: 22px;
    left: 630px;
    top: 5573px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;


}

#support-three {
    position: absolute;
    width: 175px;
    height: 22px;
    left: 630px;
    top: 5615px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;

}

#support-four {
    position: absolute;
    width: 53px;
    height: 22px;
    left: 630px;
    top: 5657px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;
}

#support-five {
    position: absolute;
    width: 94px;
    height: 22px;
    left: 630px;
    top: 5699px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;

}

#help-one {
    position: absolute;
    width: 152px;
    height: 22px;
    left: 855px;
    top: 5521px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

#help-two {
    position: absolute;
    width: 130px;
    height: 22px;
    left: 855px;
    top: 5573px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;
}

#help-three {
    position: absolute;
    width: 117px;
    height: 22px;
    left: 855px;
    top: 5615px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;

}

#help-four {
    position: absolute;
    width: 123px;
    height: 22px;
    left: 855px;
    top: 5657px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;

}

#help-five {
    position: absolute;
    width: 136px;
    height: 22px;
    left: 855px;
    top: 5699px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;

}

#product-one {
    position: absolute;
    width: 68px;
    height: 22px;
    left: 1060px;
    top: 5521px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

#product-two {
    position: absolute;
    width: 64px;
    height: 22px;
    left: 1060px;
    top: 5573px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;
}

#product-three {
    position: absolute;
    width: 72px;
    height: 22px;
    left: 1060px;
    top: 5615px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;

}

#product-four {
    position: absolute;
    width: 78px;
    height: 22px;
    left: 1060px;
    top: 5657px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;
}

#product-five {
    position: absolute;
    width: 132px;
    height: 22px;
    left: 1060px;
    top: 5699px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A6A6A6;
}

#terms {
    position: absolute;
    width: 320px;
    height: 30px;
    left: 870px;
    top: 5780px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;

}